<form ng-submit="submit()">
	<div class="row">
		<div class="span12">
			<input class="input-block-level" type="text" placeholder="Type title here..." ng-model="title">
			<input class="input-block-level" type="text" placeholder="Type space separated tags here..." ng-model="tags">

			<ul class="nav nav-tabs">
				<li class="active"><a href="#" data-toggle="tab" ng-click="editClick()">Edit</a></li>
				<li><a href="#" data-toggle="tab" ng-click="previewClick()">Preview</a></li>
			</ul>
			<textarea class="input-block-level" rows="15" ng-model="body" ng-change="bodyChange()"></textarea>
			<div ng-bind-html="htmlPreview"></div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</form>
