<div class="row">
	<div class="span12">
		<form ng-submit="search()">
			<div class="input-append">
				<input class="input-xxlarge" type="text" placeholder="Type a query..." ng-model="query">
				<button class="btn" type="submit"><i class="icon-search"></i></button>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="unstyled">
			<li ng-repeat="result in results">
				<h5><a ng-href="#/item/{{result.id}}">{{result.title}}</a></h5>
				<p>{{result.body}}</p>
			</li>
		</ul>
	</div>
</div>
